---
Background_Color:
    group: design
    label: Background colour
    type: color
    default:
        palette: body-background
Image:
    group: content
    label: Image
    hint: Recommended minimum width 1920px. We will resize and optimise to ensure the fastest possible page load, so you don't need to worry about an image being too big. 
    type: Image
    default:
       asset: images/chair.jpg
Mobile_Image:
    group: mobile
    label: Mobile Image
    hint: Show a different image on mobile devices. Recommended minimum width 640px. We will resize and optimise to ensure the fastest possible page load, so you don't need to worry about an image being too big. 
    type: Image
Image_Alt:
    group: content
    label: Image Alt text
    hint: Alternative text that will show if the image (or mobile image) fails to load, or if someone is viewing the page with a screen reader. Do not include any alt text if the image is only decorative. For more guidance read???
    type: Text
padding_top:
    group: design
    label: Block padding top
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
padding_bottom:
    group: design
    label: Block padding bottom
    type: range
    min: 0
    max: 500
    step: 10
    default: 80
    unit: px
---

<style>
    #{{block.id}} .block-container {
        padding-top: {{padding_top}}px;
        padding-bottom: {{padding_bottom}}px;
        background-color: {{Background_Color.hex}};
    }
</style>

<section class="block-container single-image-container">
    <picture class="single-image">
        <!-- {% if Mobile_Image %}
            <source srcset="{{Mobile_Image.medium_url}}" media="(min-width: 720px)">
            <source srcset="{{Mobile_Image.small_url}}" media="(min-width: 540px)">
            <source srcset="{{Mobile_Image.thumbnail_url}}" media="(min-width: 405px)">
        {% endif %}
        <source srcset="{{Image.xxlarge_url}}" media="(min-width: 1920px)">
        <source srcset="{{Image.xlarge_url}}" media="(min-width: 1140px)">
        <source srcset="{{Image.large_url}}" media="(min-width: 960px)">
        <source srcset="{{Image.medium_url}}" media="(min-width: 720px)">
        <source srcset="{{Image.small_url}}" media="(min-width: 540px)">
        <source srcset="{{Image.thumbnail_url}}" media="(min-width: 405px)">
        <img src="{{Image.xxlarge_url}}" alt="{{Image_Alt}}"> -->
        <img src="{{Image.xxlarge_url}}" {%if Image_Alt%}alt="{{Image_Alt}}{%endif%}">
    </picture>
</section>